# 全てのファイルを無視
/.config/*

# ドットから始まる設定ファイルを無視
/.config/.*

# Git管理対象
!/.config/alacritty
!/.config/fish
!/.config/fontconfig
!/.config/nvim
!/.config/sway
!/.config/waybar
!/.config/wofi
!/.config/.compton.conf
