/.config/*
/.config/.*

!/.config/alacritty
!/.config/fish
!/.config/fontconfig
!/.config/nvim
!/.config/sway
!/.config/waybar
!/.config/wofi
!/.config/.compton.conf

/.config/fish/fish_variables
/.config/fish/fishfile
